<!DOCTYPE html>
<html ng-app="myForm">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="WakameBot, ワカメボット, ワカボット, わけワカメくん" />
    <meta name="description" content="わけワカメくんがほんの少しだけTwitterBotを管理してくれるサイト" />
    <meta name="author" content="Mt.K" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />

    <link rel="stylesheet" href="/statics/css/style.css" />
    
    <script src="/statics/js/libs/angular/angular.min.js"></script>
    <script src="/statics/js/libs/jquery/jquery.min.js"></script>

    <script src="/statics/js/myform.js"></script>

    <title>Wakame Bot</title>
  </head>
  
  <body>
    {% block body -%}{%- endblock body %}
  </body>
</html>