<!DOCTYPE html>
<html ng-app="myForm">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="WakameBot, ワカメボット, ワカボット, わけワカメくん" />
    <meta name="description" content="わけワカメくんがほんの少しだけTwitterBotを管理してくれるサイト" />
    <meta name="author" content="Mt.K" />
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />

    <link rel="stylesheet" href="/statics/css/style.css" />
    
    <script src="/statics/js/libs/angular/angular.min.js"></script>
    <script src="/statics/js/libs/jquery/jquery.min.js"></script>

    <script src="/statics/js/angular_config.js"></script>
    <script src="/statics/js/botform.js"></script>

    <title>Wakame Bot</title>
  </head>
  
  <body>
    <header class="site-header clearfix">
      <h1>Wakame Bot</h1>

      <a class="user-info" href="https://twitter.com/{{ user_name }}">
        {{ user_name }}
        <img class="raund-box" src="{{ icon_src }}" />
      </a>
    </header>

    <div class="content clearfix">
      {% block main -%}{%- endblock main %}
    </div>
  </body>
</html>