{% extends "base.html" %}

{% block body -%}
    <header class="site-header clearfix">
      <h1>Wakame Bot</h1>

      <a class="user-info" href="https://twitter.com/{{ user_name }}">
        {{ user_name }}
        <img class="raund-box" src="{{ icon_src }}" />
      </a>
    </header>

    <div class="content clearfix">
      <form name="botForm" method="post" action="/add" novalidate>
        {% block editForm -%}{%- endblock editForm %}

        {% block messageBox -%}{%- endblock messageBox %}
      </form>
    </div>
{%- endblock body %}